@{
}

@model BooksViewModel

<h1>The Bookstore</h1>

@foreach (Book b in Model.Books)
            {
                <h3>@b.Title</h3>

                <ul>
                    <li>Author: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>ISBN: @b.Isbn</li>
                    <li>Classification: @b.Classification</li>
                    <li>Category: @b.Category</li>
                    <li>Page Count: @b.PageCount</li>
                    <li>Price: @b.Price</li>
                </ul>
            }

<div page-model="@Model.PageInfo" page-action="Index"></div>
